<header>
  <nav class="blue-grey darken-3">
    <div class="nav-wrapper z-depth-3">
      <a href="#!" class="brand-logo">Forum</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down blue-text text-darken-2">
        <li><a href="#">Administration</a></li>
        <li><a href="#">Moderation</a></li>
        <li><a href="#">Déconnecter</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
</header>

<main>
  <div class="row blue-grey lighten-1">
    <div class="col m4 l3 s12">
      <!-- panneau d'outils pour role -->
      <div class="collection z-depth-3">
        <a href="#!" class="collection-item">Membres</a>
        <a href="#!" class="collection-item active">Moderateurs</a>
        <a href="#!" class="collection-item">...</a>
        <a href="#!" class="collection-item">Discussions</a>
      </div>
      <ul #collapsible
        class="collapsible expandable z-depth-3 blue-grey lighten-4"
        data-collapsible="accordion"
      >
        <li>
          <div class="collapsible-header blue-grey lighten-3">
            <i class="material-icons">star</i>Discussions Favorites
          </div>
          <div class="collapsible-body">
            <div class="collection">
              <a href="#!" class="collection-item"
                ><span class="badge">1</span>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Libero, ad!</a
              >
              <a href="#!" class="collection-item"
                ><span class="new badge">4</span>Alan</a
              >
              <a href="#!" class="collection-item">Alan</a>
              <a href="#!" class="collection-item"
                ><span class="badge">14</span>Alan</a
              >
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header blue-grey lighten-3">
            <i class="material-icons">beach_access</i>Discussions Publiques
          </div>
          <div class="collapsible-body">
            <div class="collection">
              <a href="#!" class="collection-item"
                ><span class="badge">1</span>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Libero, ad!</a
              >
              <a href="#!" class="collection-item"
                ><span class="new badge">4</span>Alan</a
              >
              <a href="#!" class="collection-item">Alan</a>
              <a href="#!" class="collection-item"
                ><span class="badge">14</span>Alan</a
              >
            </div>
          </div>
        </li>

        <li>
          <div
            class="collapsible-header blue-grey darken-3 pink-text lighten-1"
          >
            <i class="material-icons">whatshot</i>Discussions Privees
          </div>
          <div class="collapsible-body grey darken-4 pink-text lighten-1">
            <div class="collection">
              <a href="#!" class="collection-item"
                ><span class="badge">1</span>Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Libero, ad!</a
              >
              <a href="#!" class="collection-item"
                ><span class="new badge">4</span>Alan</a
              >
              <a href="#!" class="collection-item">Alan</a>
              <a href="#!" class="collection-item"
                ><span class="badge">14</span>Alan</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12 m8 l9 messages ">
      <div class="row card-panel z-depth-4 grey lighten-3">
        <div class="col s4">info discusion</div>
      </div>
      <div class="row">
        <div class="col s8 offset-s1 card grey lighten-3">
          <div class="card-content">
            <span class="card-title">
              <h6>AUTEUR</h6>
            </span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
              dolor dolorem excepturi alias ullam nulla, aperiam illo, vero
              fugit molestias atque minus asperiores ad repellat quisquam sequi
              facilis nesciunt! Eveniet et quam tempora? Nesciunt sunt quas,
              nostrum hic ad reiciendis.
            </p>
          </div>

          <div class="card-action">
            <button
              class="btn-small halfway-fab btn-floating waves-cirlce waves-effect waves-red grey lighten-4"
              type="submit"
              name="action"
            >
              <i class="material-icons tiny grey-text">record_voice_over</i>
            </button>
          </div>
        </div>

        <div class="col s8 offset-s3 card blue lighten-4">
          <div class="card-content">
            <span class="card-title">
              <h6>SELF AUTEUR</h6>
            </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>

          <div class="card-action">
            <button
              class="btn-small waves-effect waves-light red darken-2"
              type="submit"
              name="action"
            >
              Signaler
              <i class="material-icons right">mood_bad</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
